<section id="testimonials">
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <ol class="carousel-indicators">
                <li
                        data-target="#testemonial-carousel"
                        data-slide-to="0"
                        class="active"
                ></li>
                <li data-target="#testemonial-carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2>
                        The taste will pop
                    </h2>
                    <img
                            class="testimonials-image
"
                            src="/static/images/carousel_img/bubblepop-electric-cupcakes_lc.webp"
                            alt="cake"
                    />
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit</em></p>
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">
                        An unicorn experience
                    </h2>
                    <img
                            class="testimonials-image"
                            src="/static/images/carousel_img/og-1535441671.jpg"
                            alt="unicorn cake"
                    />
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit<</em></p>
                </div>
            </div>
            <a
                    class="carousel-control-prev"
                    href="#testimonial-carousel"
                    role="button"
                    data-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a
                    class="carousel-control-next"
                    href="#testimonial-carousel"
                    role="button"
                    data-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>