body {
    background-color: #f4f4f2;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;

}

.headers {
    color: #ea2c62;
}

.paddings{
    padding: 1.5%;
}

/* Navigation */

#navigation {
    background-color: #495464;

}

/*Testimonials*/

#testimonials {
    text-align: center;
    background-color: #ffb6b9;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}


/*Our services section*/

#services {
    background-color: #f4f4f2;
    position: relative;
    z-index: 1;
    color: #495464;
}

.icon {
    color: #8ac6d1;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.icon:hover {
    color: #ea2c62;
}

.features_add {
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
    padding: 5%;
}

.features_row {
    color: #495464;
    text-align: center;
    padding: 0 10%;
    margin-bottom: 5rem;
}

/* About us section */

#about {
    background-color: #8ac6d1;
    color: #f4f4f2;
    padding-bottom: 2%;
}

.about-text {
    text-align: center;
    padding: 3%;

}

.about-image {
    position: center;
    padding-bottom: 6%;
}

/* Meet the team*/

#team {
    background-color: #f4f4f2;
    position: relative;
    z-index: 1;
    color: #495464;
    padding-bottom: 5%;
}

.team-image {
    position: center;
}

/* Footer section */
#footer {
    background-color: #8ac6d1;
    padding-bottom: 10px;

}

#footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8ac6d1;
    color: white;
    text-align: center;
}

.logo {
    margin: 1rem;

}

.copyright {
    color: #8f8f8f;
    text-align: center;
    margin-bottom: 0;

}


/* Address*/

.address {
    color: #495464;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.address:hover {
    color: #ea2c62;
}


/*Products grid*/
#grid {
    position: relative;
    z-index: 1;
    color: #495464;
    padding-bottom: 5%;
    padding-top: 5%;
}

.grid-heading {
    color: #8ac6d1;
    position: center;
    padding-bottom: 2%;
}

/*Card*/

.product-card {
    padding-top: 2%;
    padding-bottom: 2%;
    position: center;

}

/*Add to basket button*/

.add-button {
    color: #f4f4f2;
    background-color: #495464;
}

.add-button:hover {
    color: #f4f4f2;
    background-color: #ea2c62;
}

/*login*/

#login {
    padding: 5%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Profile section*/
.user {
    padding-top: 10px;
    padding-bottom: 10px;
}





