    <section id="about">
        <h1 class="about-text">About us</h1>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <img class="about-image" src="/static/images/front_page_img/cupcake-gridlock_wide1.jpg" alt="lady">
                </div>
                <div class="col-lg-6">
                    <em class="text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat urna
                        malesuada risus luctus, quis
                        hendrerit nibh dignissim. Nullam consequat libero ut augue consectetur tincidunt. Sed sit amet
                        orci
                        efficitur, pulvinar ante ac, sodales nisl. Fusce tellus velit, facilisis at aliquam ut, feugiat
                        non
                        lacus.
                        Nulla venenatis, nisl id volutpat rhoncus, leo turpis accumsan dui, ullamcorper auctor sapien
                        purus
                        et
                        diam.
                        Curabitur eu arcu est. Donec sagittis ante lacus, ac vulputate felis vestibulum eu. Class aptent
                        taciti
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</em>
                </div>
            </div>

        </div>
    </section>