    <section id="services">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4">
                    <i
                            class="icon fas fa-check-circle fa-3x d-flex justify-content-center"
                    ></i>
                    <h3 class="features_add d-flex justify-content-center">
                        Easy to order.
                    </h3>
                    <p class="features_row d-flex justify-content-center">
                        So easy to order, even your dog could do it.
                    </p>
                </div>
                <div class="col-lg-4">
                    <i
                            class="icon fas fa-heart fa-3x d-flex justify-content-center"
                    ></i>
                    <h3 class="features_add d-flex justify-content-center">
                        Elite Chefs cooking for you.
                    </h3>
                    <p class="features_row d-flex justify-content-center">
                        We have the best of the best pastry chefs.
                    </p>
                </div>

                <div class="col-lg-4">
                    <i
                            class="icon fas fa-cookie-bite fa-3x d-flex justify-content-center"
                    ></i>
                    <h3 class="features_add d-flex justify-content-center">
                        Guaranteed quality.
                    </h3>
                    <p class="features_row d-flex justify-content-center">
                        Find the cupcake love of your life.
                    </p>
                </div>
            </div>
        </div>
    </section>
