{% extends "common/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
    {# Nav bar #}

    {% include "partials/navigation.html" %}

    {# Carousel #}

    {% include "partials/carousel.html" %}

    {#Our services#}

    {% include "index_partials/our_services.html" %}

    {# About #}

    {% include "index_partials/about.html" %}


    {# Meet the team #}

    {% include "index_partials/team.html" %}

    {# Footer #}

    {% include 'partials/footer_section.html' %}

{% endblock %}


