{% extends "common/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{# Login form #}
{% block content %}
    {% load bootstrap4 %}
    <h2 class="text-center address">Login</h2>
    <div class="row d-flex justify-content-center">
        <form method="post" class="form" action="{% url 'login-user' %}">
            {% csrf_token %}

            {% bootstrap_form login_form %}

            {% buttons %}
                <button type="submit" class="btn add-button">Login</button>
            {% endbuttons %}
            <p class="headers">Do not have account?</p>
            <a href="{% url 'register-user' %}">Register Now</a>

        </form>
    </div>
    {% for message in messages %}

        <div class="alert alert-danger">
            <a class="close" href="{% url 'login-user' %}}" data-dismiss="alert">×</a>

            {{ message }}

        </div>
    {% endfor %}

{% endblock %}