{% extends "common/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% include "partials/navigation.html" %}


    <section id="profile">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 ">
                    <i class="far fa-user-circle fa-5x user address"></i>
                    <h3>Welcome, {{ user.username }}</h3>
                    <h6 class="headers paddings">Manage your account, info and security for faster and better
                        experience</h6>
                    <ul class="list-group list-group-flush paddings">
                        <li class="list-group-item">First name: {{ user.first_name }}</li>
                        <li class="list-group-item">Last Name: {{ user.last_name }}</li>
                        <li class="list-group-item">E-mail: {{ user.email }}</li>
                        <li class="list-group-item">Address: {{ user.userprofile.address }}</li>
                        <li class="list-group-item">City: {{ user.userprofile.city }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="{% url 'user-update' %}" class="btn add-button">Edit My Profile</a>
        <a href="{% url 'delete-profile' %}" class="btn add-button">Delete My Profile</a>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">

                <div class="col-lg-12 ">
                    <h6 class="headers paddings">My Orders</h6>
                    <i class="fas fa-box-open fa-2x"></i>
                    <ul class="list-group list-group-flush paddings">
                        {% for item in orders %}
                            {% if item.username == user.username %}
                                <li class="list-group-item">Order number: <em class="headers">{{ item.id }}</em> Order
                                    status: <em class="headers">{{ item.status }}</em></li>
                            {% endif %}
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>

    </section>


    {% include 'partials/footer_section.html' %}
{% endblock %}
